.PedidosPage{
    width: 1000px;
    height: 900px;
    // background-image: url("../../assets/images/fondo2.jpg");
    // background-size: cover; 
    background-color: black;
}

.TextW {
    color: white;
}

.TextP {
    color: white;
}