.AboutComponent {
    background-image: url("../../assets/images/fondo5.avif");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding:300px;
    color: whitesmoke; 
}
span{
    font-weight: bolder;
}

.TitleAbout {
    padding-top: 0;
    color: red;
}
span {
    color: green;
}