
.Phillosophy {

    display: flex;
    justify-content: space-between;

    left: 15rem;
    top: 15rem;
    border: solid rgb(250, 246, 246) 3px;
    margin-top: 40px;
    padding:40px;
    
    
}
    
.Title {
    color: red;
    text-align: center;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: bold;
} 

.Subtitle {
    
    color: green;
    font-weight: bolder;

}


.Image {
    max-width: 10px;
    max-height: 10px;
}
