.HomeComponent {
    width: 1000px;
    height: 940px;
}

.Name {
    // border: red solid 3px;
    font-family: monospace;
    font-size: 4.5em;
    // text-shadow: 2px 2px 8px #f9f3f3;
    position: relative;
    left: 45rem;
    top: 10rem;
    background: -webkit-linear-gradient(135deg, red, white, rgb(39, 123, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.outline {
            transform: translate(20px, 20px);
            background: #555;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}

.HomeLinks {
    // border: rgb(13, 16, 194) solid 9px;
    position: relative;
    top: 500px;
    left: 600px;
}

.HomeNavLink {
    // border: rgb(49, 184, 34) solid 3px;
    text-decoration: none;
    color: rgb(253, 248, 248);
    font: {
        family: monospace;
        size: 1.8rem;
    }
    display: flex;
    justify-content: space-around;
        &:hover {
            text-shadow: 2px 2px 8px #f9f3f3;

    }
    
}

