.ReservasComponent {
    display: flex;
    justify-content:space-around;
    background-image: url("../../assets/images/contacto.jpg");
    background-size: cover;
    color:whitesmoke;
    font-family: monospace;
    
}