.NavigationComponent {}

.NavigationNavLink {
    color: black;
    padding: 10px;
    text-decoration: none;
    &:hover{
        color: white;
    }
    font: {
        family: monospace;
        size: 1.4rem;
    }
 
}