.BodyCarta {
    background-image: url("../../assets/images/fondo6.jpg");
    background-size: cover;  
}

.CartaComponent {
    
    
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    color: whitesmoke;
    
    h2 {
        color: rgb(200, 17, 17) ;
        margin-top: 40px;
    }


    
}
/* SCROLLBAR */

/*.Simplebar::-webkit-scrollbar {
    width: 12px;
}

.Simplebar::-webkit-scrollbar-track {
    background: #27d3d3;
}

.Simplebar::-webkit-scrollbar-thumb {
    background-color: #dc1a28;
    border-radius: 20px;
    border: 3px solid #333;
}
*/
.TitleCarta {
    font-family:monospace;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    
    
}
.TitleCarta h2:hover {
    text-decoration: underline;
    
}

.ContainerCarta {
    display: flex;
    flex-direction:column-reverse;
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    
}
.Name {
    font-weight:bold;
    font-family: monospace;
    font-size: 20px;
    margin-top: 30px;
    color:rgb(2, 103, 63);
}



.Ingredients {
    
}
.Price {
    margin-bottom: 20px;
    font-size: 20px;
}

